@import url(../css/nullstyle.css);
body {
  font-family: Roboto, sans-serif;
  background: black;
}

.wrapper {
  max-width: 100%;
}

.container {
  max-width: 1344px;
  margin: 0px auto;
  border: 1px solid white;
  padding: 0px 24px;
}

@media (max-width: 1344px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1244px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

/*main-screen-bg*/
.main-screen-bg {
  min-height: 100%;
  max-width: 100%;
  background: url(../img/main-screen__bgc.png);
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.main-screen-bg .main-bg-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
  margin: 0px 80px 188px;
}

.main-screen-bg .logo {
  padding-top: 2px;
}

.main-screen-bg nav .nav__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
}

.main-screen-bg nav li {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  margin-right: 56px;
}

.main-screen-bg nav li:last-child {
  margin-right: 0px;
}

.main-screen-bg nav li a {
  color: white;
}

.main-screen-bg .sing-in .but-sing-in {
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  color: white;
}

.time-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 218px;
}

.time-end .time__item {
  width: 102px;
  height: 112px;
  background: #121212;
  text-align: center;
  padding-top: 30px;
  margin-right: 30px;
}

.time-end .time__item:last-child {
  margin: 0px;
}

.time-end .time__item .time__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: white;
}

.time-end .time__item .time__param {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
  opacity: 0.4;
}

.about {
  background: #121212;
  height: 130px;
}

.about .about__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.but-write-courses {
  width: 169px;
  height: 44px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

.statistics .statistics__title {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  opacity: 0.4;
  margin-right: 30px;
}

.statistics .statistics__number {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

.statistics .number__p1 {
  margin-bottom: 10px;
}

.statistics .number1 {
  margin-bottom: 10px;
}

.statistics__money p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  opacity: 0.4;
  display: inline-block;
  margin-right: 30px;
}

.statistics__money span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

.statistics__money .statistics__money-line {
  margin-top: 8px;
  height: 6px;
  background: #FFFFFF;
}

.null__number {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 5px;
  display: inline;
  opacity: 0.4;
}

.all__number {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.4;
  display: inline;
  margin-left: 200px;
}

/*main-screen-bg*/
/*what-doing*/
.what-doing {
  padding: 200px 0px 0px;
}

.what-doing .what-doing__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-doing .img {
  margin-right: 134px;
}

.what-doing .img .rectangle {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 0px;
}

.what-doing .img .computer__img {
  position: absolute;
  top: 100px;
  left: 40px;
  z-index: 100;
}

.what-doing .what-doing__text {
  color: white;
}

.what-doing .what-doing__text h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  margin-bottom: 45px;
}

.what-doing .what-doing__text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

/*what-doing*/
/*start*/
.start {
  padding: 200px 0px 0px 0px;
}

.start .start__img {
  display: inline;
}

.start h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: white;
  display: inline-block;
  margin-left: 30px;
  padding-top: 30px;
}

.start .start__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  opacity: 0.4;
  margin: 50px 0px 80px 0px;
}

.percent__flex {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.percent__flex p {
  width: 324px;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: white;
}

.img__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 20px 0px 35px 0px;
}

.text__flex {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.text__flex p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: white;
  opacity: 0.4;
  padding-right: 10px;
}

.text__flex p:last-child {
  padding-right: 0px;
}

.img__item1 {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  height: 80px;
  width: 324px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img__item2 {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  height: 60px;
  width: 324px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img__item3 {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  height: 30px;
  width: 324px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img__item4 {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  height: 10px;
  width: 324px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*start*/
/*advantages*/
.advantages {
  padding: 200px 0px;
  color: white;
}

.advantages h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 120px;
}

.advantages .advantages__main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages .advantages__svg {
  margin-bottom: 60px;
}

.advantages .advantages__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.advantages .advantages__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 30px;
}

.advantages .advantages__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: white;
  opacity: 0.4;
}

/*advantages*/
/*partners*/
.partners {
  padding-bottom: px;
}

.partners .partner__img {
  display: inline;
}

.partners h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: white;
  display: inline-block;
  margin-left: 30px;
  padding-top: 30px;
  margin-bottom: 117px;
}

.partners .partners__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.partners .partners__logo {
  text-align: center;
  padding: 30px 66px;
}

/*partners*/
/*program*/
.program {
  padding: 153px 0px 171px 0px;
  color: white;
}

.program__title {
  text-align: center;
}

.program__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  margin-top: 76px;
  margin-bottom: 30px;
}

.program__title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 90px;
}

.program__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.item__left {
  padding-right: 60px;
  border-right: 6px solid #7C6AFA;
  margin-right: -6px;
}

.item__left .item__week {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 15px;
}

.item__left .item__about {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  position: relative;
}

.item__left .item__about::after {
  content: '';
  width: 40px;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 16%;
  right: -60px;
}

.item__right {
  padding-left: 60px;
  border-left: 6px solid #7C6AFA;
  margin-left: -6px;
}

.item__right .item__week {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 15px;
}

.item__right .item__about {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  position: relative;
}

.item__right .item__about::before {
  content: '';
  width: 40px;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 16%;
  left: -60px;
}

/*program*/
/*teachers*/
.teachers {
  color: white;
  margin-bottom: 200px;
}

.teachers .teacher__img {
  display: inline;
}

.teachers h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 113px;
}

.teachers .teachers__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.teachers .item__foto {
  margin-bottom: 30px;
}

.teachers .item__foto img {
  margin-bottom: 40px;
}

.teachers .item__foto .taecher__name {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.teachers .item__foto .taecher__position {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.8;
}

.teachers .biography button {
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  background: transparent;
  color: white;
  width: 143px;
  height: 44px;
}

/*teachers*/
/*footer*/
footer {
  padding-bottom: 104px;
}

.footer__title {
  color: white;
  text-align: center;
}

.footer__title h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 30px;
}

.footer__title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 60px;
  opacity: 0.5;
}

.social__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__network .around {
  width: 50px;
  height: 50px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 25px;
  text-align: center;
  padding-top: 13px;
  margin-right: 30px;
}

.social__network .around:last-child {
  margin-right: 0px;
}

/*footer*/
/*# sourceMappingURL=style.css.map */