@import url(../css/nullstyle.css);
    
@mixin font ($fw, $fs, $lh){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

body{
    
    font-family: Roboto, sans-serif;
    background: url(../img/bgc.png)
   
}
.wrapper{
  max-width: 100%;
}

.container{
    max-width: 1344px;
    margin: 0px auto;
    //border: 1px solid rgb(255, 255, 255);
    padding: 0px 24px;
}

/*query media*/
@media (max-width:1344px) {
    .container{
       max-width: 1200px;
    }
    .main-screen-bg{
    background-image: url(../img/img_mobile/main-screen__mobile.png);
    min-height: 100%;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    }
    .partners .partners__grid{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      
    }
}

@media (max-width:1244px) {
    .container{
       max-width: 970px;
    }
    .what-doing
    {
        .container{
            .what-doing__flex{
                .img{
                    margin-right: 20px;
                }
            }
        }
    } 
    .wrapper .main-screen-bg nav .nav__flex {
        display: none;
    }
    .main-screen-bg{
        background-image: url(../img/img_mobile/main-screen__mobile.png);
        min-height: 100%;
        max-width: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        }
        .nav__flex{padding-left: 20px;
            padding-right: 20px;
        }
}

@media (max-width:992px) {
    .container{
       max-width: 750px;
       .what-doing__flex{
           flex-wrap: wrap;
           .what-doing__text{
               h2{
                   margin-top: 55px;
               }
           }
       }
    }
    
}

@media (max-width:767px) {
    .container{
       max-width: none;
       .advantages__main__flex{
           flex-wrap: wrap;
           .advantages__flex{
               padding: 10px 0px;
           }
       }
    
       .teachers__flex{
        flex-wrap: wrap;
        .teachers__item{
            padding: 10px 0px;
        }
       }
     
    }
    .wrapper .main-screen-bg .main-bg-flex{
        margin: 10px 10px 10px;
        padding: 0px;

    }
    .main-screen-bg{
        .container{
            .title{
                font-size: 27px;
                text-align: center;
            }
        }
    }
    .wrapper .main-screen-bg .container .time-end{
    justify-content: center;
    margin-bottom: 20px;
   
 }
 .wrapper{
    .what-doing{
        padding-top: 50px;
        .container{
            .what-doing__flex{
                img{
                    display: none;
                }
            }
            .what-doing__text{
                h2{
                    margin: 10px 0px;
                    text-align: center;
                }

            }
        }
    }
    .start{
        padding-top: 50px;
        .container{
            .start__img{
                display: none;

            }
            h2{
                text-align: center;
                margin: 0px;
                padding: 0px;
            }
            .start__subtitle{
                text-align: center;
                margin: 10px 0px;
            }
        }
    }
    .advantages{
        padding-top: 50px;
        padding-bottom: 0px;
        .container{
            h2{
                margin-bottom: 20px;
            }
        }
    }
    .partners{
        padding-top: 50px;
        .container{
            .partner__img{
                display: none;
            }
            h2{
                margin-bottom: 10px;
                margin-left: 0px;
                text-align: center;
            }
        }
    }
    .program{
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .teachers{
        padding-top: 50px;
        margin-bottom: 50px;
        .container{
            .taecher__title{
                h2{
                    margin-bottom: 10px;
                    margin-left: 0px;
                    text-align: center;
                }
            }
            .teacher__img{
                display: none;
            }
        }
    }
    }
    .wrapper .footer{
        padding-bottom: 10px;
        .container{
            .footer__title{
                p{
                    margin-bottom: 20px;
                }
            }
            .subscrib{
                input{
                    border-radius: 50px;
                    margin-bottom: 10px;
                }
                .but-subscrib{
                    position: static;
                    margin: 0px;
                }
            }
        }
    }

}
/*query media*/
/*main-screen-bg*/
.main-screen-bg{
    background-image: url(../img/main-screen__bgc.png);
    min-height: 100%;
    max-width: 100%;
    
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    .main-bg-flex{
        display: flex;
        justify-content: space-between;
        padding-top:38px;
        margin: 0px 80px 188px;
    }
   .logo{
      padding-top: 2px;

   }
   nav{
       .nav__flex{
           display: flex;
           justify-content: flex-start;
           padding-top: 10px
       }
       li{
        @include font(400,16px,150%);
        color: white;
        margin-right: 56px;
        &:last-child{
            margin-right: 0px;
        }
        a{
            color: white;
        }
       }
   }
   .sing-in{
      .but-sing-in{
        width: 183px;
        height: 44px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        border-radius: 50px;   
        @include font(400,16px,150%);
        color: white;
      }
   }
}
.title{
    @include font(700,64px,140%);
    color: white;
}
.time-end{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 218px;
    .time__item{
        width: 102px;
        height: 112px;
        background: #121212;
        text-align: center;
        padding-top: 30px;
        margin-right: 30px;
        &:last-child{
            margin: 0px
        }
        .time__number{
            @include font(700,36px,140%);
            color: white;
        }
        .time__param{
            @include font(400,16px,140%);
            color: white;
            opacity: 0.4;
        }
    }
}
.about{
    background: #121212;
    height: 130px;
    
    .about__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
            height: 130px;
        ;
    }
}
.but-write-courses{
    width: 169px;
    height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    @include font(400,16px,150%);
    color: white;
}
.statistics{
    .statistics__title{
        display: inline-block;
        @include font(400,16px,150%);
        color: white;
        opacity: 0.4; 
        margin-right: 30px;
    }
    .statistics__number{
        display: inline-block;
        @include font(700,16px,150%);
        color: rgb(255, 255, 255);
    }
    .number__p1 {
        margin-bottom: 10px;
    }
    .number1 {
        margin-bottom: 10px;
       
    }
   
}
.statistics__money{
    p{
        @include font(400,16px,150%);
        color: white;
        opacity: 0.4;
        display: inline-block;
        margin-right: 30px; 
       
    }
    span{
        @include font(700,16px,150%);
        color: rgb(255, 255, 255);
       
    }
    .statistics__money-line{
        margin-top: 8px;
        
        height: 6px;
        background: #FFFFFF;
    }

}
.null__number{
    @include font(400,16px,150%);
    color: #FFFFFF;
    margin-top: 5px;
    display: inline;
    opacity: 0.4;

}
.all__number{
    @include font(400,16px,150%);
        color: #FFFFFF;
        opacity: 0.4;
        display: inline;
        margin-left: 200px;
}
/*main-screen-bg*/
/*what-doing*/
.what-doing{
    padding: 200px 0px 0px;
  .what-doing__flex{
      display: flex;
      justify-content: space-between;
  }
 .img{
 margin-right: 134px;
     
     .rectangle{
        position: relative;
        display: inline-block;
        top: 0px;
        left: 0px;
    }
     .computer__img{
        position: absolute;
        top: 100px;
        left: 40px;
        z-index: 100;
        
    }
}
.what-doing__text{
    color: white;
    h2{
        @include font(700,48px,150%);
        margin-bottom: 45px;
    }
    p{
        @include font(400,15px,160%);
    }
}
}
/*what-doing*/
/*start*/
.start{
    padding:200px 0px 0px 0px;
    .start__img{
        display: inline;
    }
    h2{
        @include font(700,48px,150%);
        color: white;
        display: inline-block;
        margin-left: 30px;
        padding-top: 30px;
    }
    .start__subtitle{
        @include font(400,16px,150%);
        color: rgb(255, 255, 255);
        opacity: 0.4;
        margin: 50px 0px 80px 0px;
    }
}
.percent__flex{
    color: white;
    display: flex;
    justify-content: left;
    p{
        width: 324px;
        @include font(700,36px,150%);
        color: rgb(255, 255, 255);
    }
    
}
.img__flex{
  
    display: flex;
    justify-content: left;
    margin: 20px 0px 35px 0px;

}
.text__flex{
    color: white;
    display: flex;
    justify-content: left;
    
    p{
        @include font(400,14px,160%);
        color: rgb(255, 255, 255);
        opacity: 0.4;
        padding-right: 10px;
        &:last-child{
            padding-right: 0px;
        }

    }
}
.img__item1{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    height: 80px;
    width: 324px;

    align-self: center;
}
.img__item2{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    height: 60px;
    width: 324px;

    align-self: center;
}
.img__item3{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    height: 30px;
    width: 324px;

    align-self: center;
}
.img__item4{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    height: 10px;
    width: 324px;

    align-self: center;
}
/*start*/
/*advantages*/
.advantages{
    padding: 200px 0px;
    color: rgb(255, 255, 255);
    h2{
        @include font(700,48px,140%);
        text-align: center;
        margin-bottom: 120px;
    }
    .advantages__main__flex{
        display: flex;
        justify-content: center;
    }
    .advantages__svg{
       margin-bottom: 60px;
    }
    .advantages__flex{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .advantages__title{
        @include font(500,24px,140%);
        margin-bottom: 30px;

    }
    .advantages__subtitle{
        @include font(400,16px,160%);
        color: rgb(255, 255, 255);
        opacity: 0.4;
    }
}
/*advantages*/
/*partners*/
.partners{
    padding-bottom: px;
    .partner__img   {
        display: inline;
    }
    h2{
        @include font(700,48px,140%);
        color: white;
        display: inline-block;
        margin-left: 30px;
        padding-top: 30px;
        margin-bottom: 117px;
    }
    .partners__grid{
        display: grid;
        grid-template-columns: repeat(auto-fill,300px);
       
      
    }
    .partners__logo{
        text-align: center;
        padding: 30px 66px;
       
    }
}
/*partners*/
/*program*/
.program{
padding: 153px 0px 171px 0px;
color: white;
}
.program__title{
    text-align: center;
    h2{
      
        @include font(700,48px,140%);
        margin-top: 76px;
        margin-bottom: 30px;
    }
    p{
        @include font(400,16px,160%);
        opacity: 0.5;
        margin-bottom: 90px;
    }
}
.program__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 6px;
}

.item__left{
    padding-right: 60px;
    border-right: 6px solid #7C6AFA;
    margin-right: -6px;
    .item__week{
        text-align: right;
        @include font(400,14px,160%);
        opacity: 0.5;
        margin-bottom: 15px;
       
        }
        .item__about{
            text-align: right;
            @include font(400,18px,160%);
            
            position: relative;
            &::after{
                content: '';
                width: 40px;
                border: 1px solid #FFFFFF;
                opacity: 0.3;
                display: block;
                position: absolute;
                top: 16%;
               right: -60px;
            }
        }
}
.item__right{
    padding-left: 60px;
    border-left: 6px solid #7C6AFA;
    margin-left: -6px;
    .item__week{
        text-align: left;
        @include font(400,14px,160%);
        opacity: 0.5;
        margin-bottom: 15px;
        }
        .item__about{
            text-align: left;
            @include font(400,18px,160%);
            position: relative;
            &::before{
                content: '';
                width: 40px;
                border: 1px solid #FFFFFF;
                opacity: 0.3;
                display: block;
                position: absolute;
                top: 16%;
                left: -60px;
            }
        }
}
/*program*/
/*teachers*/
.teachers{
    color: white;
    margin-bottom: 200px;
    .teacher__img{
        display: inline;
    }
    h2{
        @include font(700,48px,150%);
        
        display: inline-block;
        margin-left: 30px;
        margin-bottom: 113px;
    }
    .teachers__flex{
        display: flex;
        justify-content: space-around;
        text-align: center;

    }
    .item__foto{
        margin-bottom: 30px;
        img{
            margin-bottom: 40px;
        }
        .taecher__name{
            margin-bottom: 15px;
            @include font(700,24px,150%);
        }
        .taecher__position{
            margin-bottom: 15px;
            @include font(400,16px,150%);
            opacity: 0.8;
        }
    }
    .biography{
        
        button{ border-radius: 50px;
            border: 1px solid #FFFFFF;
            background:transparent;
        color: white;
        width: 143px;
        height: 44px;
    } 
    }
}
/*teachers*/
/*footer*/
footer{
    padding-bottom: 104px;
    text-align: center;
}
.footer__title{
    color: white;
    text-align: center;
    h2{
        @include font(700,24px,150%);
        margin-bottom: 30px;
    }
    p{
        @include font(400,16px,150%);
        margin-bottom: 60px;
        opacity: 0.5;
    }   

}
.subscrib{
    margin-bottom: 40px;
    input {
        width: 300px;
        height: 44px;
        font-size: 14px;
        padding: 6px 0 4px 10px;
        background: #FFFFFF;
        opacity: 0.25;
        border-radius: 50px 0px 0px 50px;
        
    }   
    input::placeholder{
        color: white;
    }
    .but-subscrib{
        color: white;
        @include font(700,16px,150%);
        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
        border-radius: 50px;
        height: 44px;
        padding: 10px 27px;
        margin-left: -50px;
        position: relative;
        z-index: 100;
    }
}
.social__network{
    display: flex;
    justify-content: center;


.around{
    width: 50px;
    height: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 25px;
    text-align: center;
    padding-top: 13px;
    margin-right: 30px;
    &:last-child{
        margin-right: 0px;
    }
}
} 

/*footer*/
